div{
    background-color: yellow; 
    width: 100px;
    height: 100px;
     /* margin: 10px 20px 30px 40px; */
    /* padding: 10px; */
    /* padding: 10px 20px 30px 40px; */
}

#d1{
    background-color: red; 
    width: 100px;
    height: 100px;
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 100%;

}

#d2{
    background-color: green; 
    width: 300px;
    height: 200px;
    position: relative;
}

.c1{
    background-color: blue; 
    width: 100px;
    height: 100px;
}